body {
    background: url("https://i.imgur.com/AP5TQy4.jpeg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: scroll;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color: red;
}

h1 {
  margin-top: 30px;
  text-align: center;
  fon-style: italic;
  font-family: 'Bungee', cursive;
  font-family: 'Bungee Shade', cursive;
  color: rgba(94, 18, 18);
  line-height: 2px;
  letter-spacing: 3px;
}

h2 {
    margin-right: 30px;
    text-align: left;
    font-style: italic;
    text-decoration: underline;
    font-family: 'Bungee', cursive;
    letter-spacing: 3px;
    color: rgba(17, 26, 74);
}

.header {
  padding: 10px;
  font-size: 20px;
  font-style: italic;
  font-family: 'Bungee', cursive;
  color: rgba(24, 204, 174);
  text-align: center;
}

.content {
  font-size: 25px;
  border-style: double;
  border-color: rgba(7,64,107);
  border-width: 10px;
  width: 50%;
  color: rgba(55, 33, 235);
}


li {
  color: rgba(184, 71, 29);
  margin-left: 30px;
  font-family: 'Bungee', cursive;
}

p {
  font-size: 25px;
  margin-left: 30px;
  color: rgba(150, 23, 23);
  font-family: 'Bungee', cursive;
}

div.callout li {
  color: rgba(158, 32, 97);
}
